[Unit]
Description=sourdough
Documentation=https://git.sr.ht/~theandrew168/sourdough
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
Restart=on-failure
RestartSec=5
User=sourdough
Group=sourdough
ExecStart=sourdough -conf /etc/sourdough.conf

[Install]
WantedBy=multi-user.target
